@import "tailwindcss";
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/500.css";
@import "@fontsource/noto-sans/700.css";

@layer base {
  :root {
    --color-fondo: #1A1A1A;
    --color-tarjetas: #2C2C2C;
    --color-botones: #D4A017;
    --color-blanco: #FFFFFF;
    --color-gris-claro: #C8C8C8;
  }
}

@layer base {
  html {
    font-family: "Noto Sans", ui-sans-serif, system-ui;
  }
}
