@import "tailwindcss";
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/500.css";
@import "@fontsource/noto-sans/700.css";

@layer base {
  :root {
    --color-fondo: #1A1A1A;
    --color-tarjetas: #2C2C2C;
    --color-botones: #D4A017;
    --color-blanco: #FFFFFF;
    --color-gris-claro: #C8C8C8;
  }
}

@layer base {
  html {
    font-family: "Noto Sans", ui-sans-serif, system-ui;
  }
}

@layer components {
  .btn-iniciar {
    @apply w-auto
        bg-amber-400
        rounded-full p-2 px-4 
        hover:shadow-amber-400/50 hover:shadow-lg hover:bg-amber-200
        transition duration-500;
  }

  .tarjeta-precios{
    @apply absolute bg-(--color-fondo) border-1 border-white rounded-2xl flex flex-col justify-center items-center w-1/3 shadow-2xl;
  }

  .video-login{
    @apply hidden md:flex md:h-full md:mx-auto md:pointer-events-none md:absolute md:z-0
  }
}